---
// import Layout from "../layouts/Layout.astro";

// export const getStaticPaths = async () => {
//   const artwork = await Astro.glob("../art/*.md");
//   return artwork.map((art) => ({
//     params: {
//       slug: art.frontmatter.slug,
//     },
//     props: {
//       art,
//     },
//   }));
// };
// const { frontmatter } = Astro.props;
// console.log(frontmatter);
---

<!-- <Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
</Layout> -->
