---
import Layout from "../layouts/Layout.astro";
import EventCard from "../components/EventCard.svelte";
---

<Layout title="events">
  <main transition:animate="fade">
    <section class="flex flex-col justify-between items-center">
      <EventCard />
    </section>
  </main>
</Layout>

<style is:global>
  .event-city {
    transform: translateX(0%);
    transition: transform 0.2s ease-in-out;
  }
  .event-city:hover {
    transform: translateX(-3rem);
  }
</style>
