<footer class="flex justify-center gap-6 p-3">
  <div id="instagram" class="p-1"></div>
  <div id="twitter" class="p-1"></div>
  <div id="tiktok" class="p-1"></div>
</footer>

<style>
  #instagram {
    width: 3.5rem;
    aspect-ratio: 1;
    background: url("/public/assets/icons/instagram.svg");
    background-size: cover;

    background-repeat: no-repeat;
  }
  #twitter {
    width: 3.5rem;
    aspect-ratio: 1;
    background: url("/public/assets/icons/twitter.svg");
    background-size: cover;

    background-repeat: no-repeat;
  }
  #tiktok {
    width: 3.5rem;
    aspect-ratio: 1;
    background: url("/public/assets/icons/tiktok.svg");
    background-size: cover;

    background-repeat: no-repeat;
  }
</style>
