---
import { Image } from "@astrojs/image/components";
import getArt from "../utils/getArt";

export interface Props {
  amount: number;
  radius: boolean;
}

const { amount, radius } = Astro.props as Props;

let artAmount = getArt().slice(0, amount);
let isRadius = radius ? "1%" : "0";
---

<div class="image-container">
  {
    artAmount.map((image) => (
      <div class="image-item">
        <Image
          class={""}
          style={{ borderRadius: isRadius }}
          src={image.src}
          alt={image.title}
          width={1400}
          height={1400}
          aspectRatio={"1:1"}
          format="jpg"
        />

        <div class="overlay opacity-1 hover:opacity-1">
          <a href={`/art/${image.slug}/`}>
            <div class="text">{image.title}</div>
          </a>
        </div>
      </div>
    ))
  }
</div>

<style>
  .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .image-item {
    flex: 1 1 100%;
    position: relative;
    max-width: 100%;
  }

  @media (min-width: 768px) {
    .image-item {
      flex: 1 1 calc(50% - 1rem);
    }
  }

  @media (min-width: 1024px) {
    .image-item {
      flex: 1 1 calc(25% - 1rem);
    }
  }

  img {
    /* display: none; */
    width: 100%;
    /* -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(2rem);
    filter: blur(2rem);
    -webkit-transition: opacity 1s ease-in, filter 1s ease-in;
    transition: opacity 1s ease-in, filter 1s ease-in; */
  }

  .img-fade {
    display: block;
    opacity: 1;
    -webkit-filter: blur(0rem);
    filter: blur(0rem);
  }
  img:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: -webkit-transform 500ms ease-out;
    transition: transform 500ms ease-out;
    cursor: pointer;
  }
  .overlay {
    width: 100%;
    z-index: 10;
    border-radius: 1%;
    opacity: 0;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .overlay:hover {
    opacity: 1;
  }
  a:hover {
    text-decoration-color: var(--primary-2);
  }

  .text {
    color: white;
    font-size: 24px;
    font-family: var(--inconsolata);
    font-weight: 300;
    text-align: center;
  }

  .text:hover {
    cursor: pointer;
  }
</style>
